body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.auto-margin {
  width: 90%;
  margin: auto;
  overflow: hidden;
}
.basic-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3232c8;
  color: white;
  text-decoration: none;
  border-radius: 1px;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.2ch;
  &:hover {
    background-color: #1f1f7f;
  }
}

// style for top bar
.topBar-container {
  background-color: #09093a;
  position: relative;
  z-index: 2;
  .topBar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4vh;

    color: rgba(232, 225, 225, 0.7);
    .right-section {
      display: flex;
      align-items: center;
      gap: 40px;
      .contact-info {
        display: flex;
        gap: 10px;
        h6 {
          cursor: pointer;
          i {
            font-size: 12px;
            color: #3232c8;
            margin-right: 10px;
          }
        }
      }
      .icon-group {
        display: flex;
        gap: 20px;
        i {
          font-size: 12px;
          color: rgb(232, 225, 225);
          cursor: pointer;
        }
      }
    }
  }
}

// style for navbar
.navbar-container {
  position: relative;
  z-index: 2;
  background-color: #ffffff;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left-section {
    height: 100%;
    padding-left: 5%;
    img {
      height: 100%;
      width: auto;
    }
  }
  .middle-section {
    position: static;
    transform: translateY(0%);
    a {
      color: #000000;
      opacity: 0.6;
      font-size: 12px;
      font-weight: 600;
      text-decoration: none;
      padding: 0 20px;
      transition: all 0.3s ease;
      &:hover {
        opacity: 1;
      }
    }
    .active {
      color: #000000;
      opacity: 1;
    }
  }
  .right-section {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
    .v-line {
      width: 1px;
      height: 70%;
      background-color: #b7a0a0;
    }
    .icon-box {
      cursor: pointer;
    }
    .contact-box {
      background-color: #5858ca;
      height: 9vh;
      display: flex;
      gap: 10px;
      align-items: center;
      padding: 0 30px;
      .circle-icon-box {
        background-color: #f4f4f4;
        border-radius: 50%;
        height: 20%;
        width: auto;
        padding: 10px;
        margin-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      .text-box {
        h6 {
          margin: 0;
          color: white;
          opacity: 0.6;
        }
      }
    }
  }
  .mobile-menu {
    display: none;
  }
}
// style for hero section
.banner-wrapper {
  height: 86vh;
  background-image: url("/assets/hero-slider.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  .line-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to right,
        rgba(45, 0, 209, 0.5),
        rgba(20, 7, 67, 0.5)
      ),
      url("/assets/hero-line.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .shape-1 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(70%);
    width: 100%;
    height: 100%;
    background-image: url("/assets/hero-shape-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.8;
  }
  .shape-2 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(67%);
    width: 100%;
    height: 100%;
    background-image: url("/assets/hero-shape-2.png");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.8;
  }
  .shape-3 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(70%);
    width: 100%;
    height: 100%;
    background-image: url("/assets/hero-shape-3.png");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.8;
  }
  .text-box {
    position: relative;
    color: white;
    padding: 150px 0 0 150px;
    display: flex;
    .right-section {
      h5 {
        transform: rotate(-90deg) translateX(-40%);
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1cap;
        opacity: 0.4;
      }
    }
    .left-section {
      transform: translateX(-15%);
      h2 {
        font-size: 14px;
        font-weight: 400;
      }
      h3 {
        font-size: 42px;
        max-width: 450px;
        font-weight: 600;
        margin: 20px 0;
      }
    }
  }
}

// style for about section
.about-container {
  display: flex;
  justify-content: center;
  margin: 00px 5%;
  // align-items: center;
  margin-top: 100px;
  margin-bottom: 300px;
  gap: 20px;

  .left-section {
    width: 50%;
    position: relative;
    overflow: visible;
    .about-img-1 {
      position: absolute;
      right: 0;
      transform: translate(-60%, 110%);
      z-index: -1;
    }
    .about-img-2 {
      position: absolute;
      right: 0;
      transform: translate(-35%, 0%);
      z-index: -1;
    }
    .about-img-3 {
      position: absolute;
      transform: translate(-10%, 85%);
      right: 0;
      z-index: -1;
    }
    .about-img-4 {
      position: absolute;
      right: 0;
      background-color: #ffffff;
      z-index: 1;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      height: 80px;
      width: 180px;
      border-right: 8px solid #3232c8;
      transform: translate(-110%, 680%);
      h1 {
        padding-left: 50px;
        font-size: 32px;
        margin: 0;
      }
      h3 {
        max-width: 100px;
        font-size: 10px;
        margin: 0;
      }
    }
    .about-img-5 {
      position: absolute;
      right: 0;
      transform: translate(-60%, 30%);
      border: 3px solid #d8adad;
      width: 150px;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      .inner-square {
        width: 100px;
        height: 100px;
        border: 2px solid #d8adad;
        display: flex;
        justify-content: center;
        align-items: center;
        .inner-filled-square {
          width: 70px;
          height: 70px;
          background-color: #3232c8;
          display: flex;
          justify-content: center;
          align-items: center;
          .triangle {
            width: 0;
            height: 0;
            border-top: 12.5px solid transparent;
            border-left: 25px solid #ffffff;
            border-bottom: 12.5px solid transparent;
          }
        }
      }
    }
  }
  .right-section {
    width: 50%;
    h2 {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.2ch;
      color: #3232c8;
    }
    h3 {
      font-size: 32px;
      font-weight: 600;
      margin: 20px 0;
      max-width: 500px;
    }
    p {
      font-size: 12px;
      font-weight: 600;
      opacity: 0.6;
      max-width: 500px;
    }
    .features-wrapper {
      display: flex;
      gap: 20px;
      max-width: 500px;

      .features-box {
        display: flex;
        gap: 10px;
        align-items: center;
        background-color: #5858ca14;
        padding: 20px 30px;

        .features-icon {
          i {
            font-size: 24px;
            color: black;
          }
        }
        .features-text {
          h4 {
            font-size: 14px;
            font-weight: 600;
            margin: 0;
            color: #3232c8;
          }
          h6 {
            font-size: 12px;
            font-weight: 600;
            margin: 0;
            opacity: 0.6;
          }
        }
      }
    }
    hr {
      margin: 20px 0;
      max-width: 500px;
    }
    .person-info-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 500px;
      .person-info-box {
        display: flex;
        gap: 10px;
        align-items: center;
        .person-img-box {
          width: 70px;
          height: 70px;
          img {
            width: 100%;
            height: auto;
          }
        }
        .person-info {
          h4 {
            font-size: 14px;
            font-weight: 600;
            margin: 0;
            color: black;
          }
          h6 {
            font-size: 12px;
            font-weight: 600;
            margin: 0;
            color: #3232c8;
          }
        }
      }
    }
  }
}

// style for popular services
.popular-service-container {
  width: 100%;
  padding-bottom: 100px;
  background-color: #dcf3f5;
  position: relative;

  .bg-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/service-bg.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
  }
  .section-header {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    h2 {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.2ch;
      color: #3232c8;
    }
    h3 {
      font-size: 36px;
      font-weight: 700;
      margin: 20px 0;
      max-width: 540px;
      margin: auto;
    }
  }
  .service-card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .service-card {
      background: white;
      opacity: 1;
      text-align: center;
      padding: 30px 15px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      .card-icon-box {
        position: relative;
        .icon-circle {
          position: absolute;
          transform: translate(70%, -25%);
          width: 70px;
          height: 70px;
          background-color: #3232c81c;
          border-radius: 50%;
        }
        i {
          font-size: 36px;
          color: #3232c8;
        }
      }
      h4 {
        font-size: 20px;
        font-weight: 500;
        color: black;
      }
      p {
        font-size: 12px;
        font-weight: 500;
        opacity: 0.7;
        max-width: 200px;
        margin: auto;
      }
    }
  }
}

// style for news and article section
.news-article-container {
  margin-bottom: 100px;
  .section-header {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    h2 {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.2ch;
      color: #3232c8;
    }
    h3 {
      font-size: 36px;
      font-weight: 700;
      margin: 20px 0;
      max-width: 400px;
      margin: auto;
    }
  }
  .news-article-card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .news-article-card {
      background: white;
      opacity: 1;

      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      .card-img-box {
        img {
          width: 100%;
          height: auto;
        }
      }
      .card-text-box {
        padding: 20px;
        h4 {
          font-size: 20px;
          font-weight: 500;
          color: black;
        }
        .date-and-type-box {
          display: flex;
          align-items: center;
          gap: 20px;
          h6 {
            font-size: 14px;
            font-weight: 600;
            color: black;
            opacity: 0.6;
            margin: 0;
            i {
              color: #3232c8;
            }
          }
        }
        h4 {
          font-weight: 24px;
          font-weight: 600;
          color: black;
          max-width: 300px;
          margin: 10px 0;
          margin-bottom: 10px;
        }
        a {
          color: #3232c8;
          text-decoration: none;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 0.5ch;
        }
      }
    }
  }
}

.footer-container {
  position: relative;
  color: rgba(255, 255, 255, 0.6);

  .footer-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("/assets//footer-bg.png");
    height: 50vh;
    width: 100%;
    background-size: contain;
    z-index: -1;
  }
  .footer-content {
    padding: 100px 5%;
    display: flex;
    justify-content: center;
    gap: 70px;
    .text-icons {
      p {
        max-width: 250px;
      }
      .icon-group {
        display: flex;
        gap: 20px;
        div {
          border: 1px solid #5c5cef;
          border-radius: 50%;
          height: 28px;
          width: 28px;
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            font-size: 16px;
            color: #ffffff;
            cursor: pointer;
          }
        }
      }
    }
    .title-list-wrapper {
      display: flex;

      gap: 50px;
      .title-list-box {
        .title-box {
          position: relative;

          .line {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 30px;
            height: 3px;
            border-radius: 2px;
            background: #3232c8;
            transform: translateY(8px);
          }
          h4 {
            font-size: 20px;
            font-weight: 600;
            color: #ffffff;
            margin: 10px 0;
          }
        }
        .list-box {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-top: 36px;
          a {
            color: rgba(255, 255, 255, 0.6);
            text-decoration: none;
            font-size: 14px;
            font-weight: 500;
            max-width: 200px;
            transition: all 0.3s ease;
            &:hover {
              color: white;
            }
            i {
              margin-right: 10px;
              color: #3232c8;
            }
          }
          input {
            padding: 12px 10px;
          }
          button {
            width: 50%;
          }
        }
      }
    }
  }
  .footnote {
    text-align: center;
    padding: 10px 0;
    background-color: #09093a;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 600;
  }
}
// responsive style

@media (max-width: 576px) {
  .auto-margin {
    width: 95%;
  }
  .topBar-container {
    .topBar-wrapper {
      justify-content: center;
      .right-section {
        display: none;
      }
    }
  }
  .navbar-container {
    .right-section {
      display: none;
    }
    .middle-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #ffffff;
      transition: all 0.3s ease;
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh;
      transform: translateY(-200%);
    }

    .mobile-menu {
      display: block;
      cursor: pointer;
      padding-right: 5%;
      i {
        font-size: 20px;
        color: #000000;
      }
    }
  }
  .banner-wrapper {
    background-position: center;
    .shape-1 {
      display: none;
    }
    .shape-2 {
      display: none;
    }
    .shape-3 {
      display: none;
    }
    .text-box {
      padding: 100px 0 0 20px;
      .right-section {
        h5 {
          display: none;
        }
      }
      .left-section {
        transform: translateX(0%);
      }
    }
  }
  .about-container {
    flex-direction: column;
    align-items: center;

    .left-section {
      // transform: translate(20%, 0%) scale(0.5);
      display: none;
    }
    .right-section {
      width: 90%;
    }
  }
  .popular-service-container {
    .service-card-wrapper {
      flex-direction: column;
      .service-card {
        width: 90%;
        margin-bottom: 20px;
        .icon-circle {
          display: none;
        }
      }
    }
  }
  .news-article-container {
    .news-article-card-wrapper {
      flex-direction: column;
    }
  }
  .footer-container {
    background-color: #09093a;
    .footer-bg {
      display: none;
    }
    .footer-content {
      padding: auto;
      flex-direction: column;
      align-items: center;
    }
    .title-list-wrapper {
      flex-direction: column;
      .title-list-box {
        .list-box {
          a {
            max-width: 100%;
          }
        }
      }
    }
  }
}
